Repository dwalleck/resonance, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ffi, testing, docs, build, dependencies

feat: Initialize Tauri project with React TypeScript
  .lintstagedrc.json
  dprint.json
  index.html
  package-lock.json
  package.json
  src-tauri/.gitignore
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/default.json
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  src/test/App.test.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Labels: frontend, backend, testing, build, dependencies

fix: Skip dprint check in CI environment
  scripts/check-rust-tools.sh
Labels: none

fix: Remove duplicate CSS class definitions
  src/App.css
Labels: frontend

fix: Resolve TypeScript type checking errors
  src/App.tsx
  src/test.ts
  tsconfig.json
Labels: frontend, build

fix: Add Linux dependencies for Rust linting in CI
  .github/workflows/ci.yml
  dprint.json
Labels: build

.github/labeler.yml:

# Auto-labeling configuration for PRs

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.{ts,tsx,js,jsx}'
      - 'src/**/*.css'
      - 'index.html'
      - 'vite.config.ts'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src-tauri/**/*.rs'
      - 'src-tauri/**/Cargo.toml'

ffi:
  - changed-files:
    - any-glob-to-any-file:
      - 'src-tauri/src/ryzenadj/**'
      - 'lib/RyzenAdj/**'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.{ts,tsx,js}'
      - '**/*.spec.{ts,tsx,js}'
      - '**/tests/**'
      - 'vitest.config.ts'
      - 'src/test/**'

docs:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
      - '.eslintrc.json'
      - 'dprint.json'
      - 'rustfmt.toml'
      - 'build.rs'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - '**/Cargo.toml'
      - '**/Cargo.lock'
